# -----------------------------------------------------------------------------------
#  - Aula 16 - Tuplas
Nessa aula, vamos aprender o que são TUPLAS e como utilizar tuplas em Python. As tuplas são variáveis compostas e imutáveis que permitem armazenar vários valores em uma mesma estrutura, acessíveis por chaves individuais.

In [1]:
lanche = ('Hambúrguer', 'Sucos', 'Pizza', 'Pudim', 'Batata Frita')
print(lanche[0])
print(lanche[-2])
print(lanche[1:3])
print(lanche[2:])
print(lanche[:2])
print(lanche[-3:])
#Tuplas são imutáveis
# lanche[1] = 'Refrigerante'
print('-='*20)

for comida in lanche:
    print(f'Eu vou comer {comida}')
print('Comi pra caramba!')

print('-='*20)
print(len(lanche))
print('-='*20)

for cont in range(0, len(lanche)):
    print(lanche[cont])
print('-='*20)

for pos, comida in enumerate (lanche):
    print(f'Eu vou comer {comida} na posição {pos}')
print('-='*20)

print(sorted(lanche))

Hambúrguer
Pudim
('Sucos', 'Pizza')
('Pizza', 'Pudim', 'Batata Frita')
('Hambúrguer', 'Sucos')
('Pizza', 'Pudim', 'Batata Frita')
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Eu vou comer Hambúrguer
Eu vou comer Sucos
Eu vou comer Pizza
Eu vou comer Pudim
Eu vou comer Batata Frita
Comi pra caramba!
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
5
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Hambúrguer
Sucos
Pizza
Pudim
Batata Frita
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Eu vou comer Hambúrguer na posição 0
Eu vou comer Sucos na posição 1
Eu vou comer Pizza na posição 2
Eu vou comer Pudim na posição 3
Eu vou comer Batata Frita na posição 4
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
['Batata Frita', 'Hambúrguer', 'Pizza', 'Pudim', 'Sucos']

In [2]:
a = (2, 5, 4)
b = (5, 8 , 1 , 2)
c = a + b
print(c)
print(len(c))
print(c.count(5)) #contagem de numeros 5
print(c.index(8))  #posição do número 8
print(c.index(5, 1)) #posição do 5 apartir da posição 1

(2, 5, 4, 5, 8, 1, 2)
7
2
4
1

In [3]:
pessoa = ('Gustavo', 39, 'M', 99,98)
print(pessoa)
del (pessoa)
print(pessoa)

('Gustavo', 39, 'M', 99, 98)

NameError: name 'pessoa' is not defined

## Desafio 72: Crie um programa que tenha uma dupla totalmente preenchida com uma contagem por extenso, de zero até vinte. Seu programa deverá ler um número pelo teclado (entre 0 e 20) e mostrá-lo por extenso.

In [5]:
extensos = ('zero', 'um', 'dois', 'três','quatro', 'cinco', 'seis', 'sete', 'oito','nove','dez',
            'onze', 'doze', 'treze', 'quatorze','quinze', 'dezesseis', 'dezessete', 'dezoito', 'dezenove', 'vinte')
numero = int(input('Digite um numero de 0 a 20: '))
while numero not in range(0,21):
	numero = int(input('Tente novamente.Digite um numero de 0 a 20: '))
print(f'Você digitou o numero {extensos[numero]}!')

Digite um numero de 0 a 20:  4

Você digitou o numero quatro!

## Desafio 73: Crie uma tupla preenchida com os 20 primeiros colocados da Tabela do Campeonato Brasileiro de Futebol, na ordem de colocação. Depois mostre:
a) Os 5 primeiros times.
b) Os últimos 4 colocados.
c) Times em ordem alfabética. 
d) Em que posição está o time da Chapecoense.

In [ ]:
top20 = ('Atlético-MG', 'Palmeiras','Fortaleza','Red Bull Bragantino','Flamengo','Corinthians','Athletico','Fluminense',
         'Atlético-GO','Ceará','Cuiabá','Internacional','Juventude','Santos','São Paulo','Bahia',
         'América-MG','Sport','Grêmio','Chapecoense')
print('-='*20)
print(f'Lista de times do Brasileirão: {top20}')
print('-='*20)
print(f'Os 4 primeiros são {top20[:5]}')
print('-='*20)
print(f'Os 4 últimos são {top20[-4:]}')
print('-='*20)
print(f'Times em ordem alfabética: {sorted(top20)}')
print(f'Posição do time Chapecoense: {top20.index("Chapecoense")+1}')

-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Lista de times do Brasileirão: ('Atlético-MG', 'Palmeiras', 'Fortaleza', 'Red Bull Bragantino', 'Flamengo', 'Corinthians', 'Athletico', 'Fluminense', 'Atlético-GO', 'Ceará', 'Cuiabá', 'Internacional', 'Juventude', 'Santos', 'São Paulo', 'Bahia', 'América-MG', 'Sport', 'Grêmio', 'Chapecoense')
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Os 4 primeiros são ('Atlético-MG', 'Palmeiras', 'Fortaleza', 'Red Bull Bragantino', 'Flamengo')
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Os 4 últimos são ('América-MG', 'Sport', 'Grêmio', 'Chapecoense')
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Times em ordem alfabética: ['América-MG', 'Athletico', 'Atlético-GO', 'Atlético-MG', 'Bahia', 'Ceará', 'Chapecoense', 'Corinthians', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Grêmio', 'Internacional', 'Juventude', 'Palmeiras', 'Red Bull Bragantino', 'Santos', 'Sport', 'São Paulo']
Posição do time Chapecoense: 20

## Desafio 74: Crie um programa que vai gerar cinco números aleatórios e colocar em uma tupla. Depois disso, mostre a listagem de números gerados e também indique o menor e o maior valor que estão na tupla.

In [7]:
from random import randint

tupla = tuple(randint(1, 10) for i in range(5))
print(f'Os valores sorteados foram: {tupla}')
print(f'O maior valor sorteado foi {sorted(tupla)[-1]}')
print(f'O menor valor sorteado foi {sorted(tupla)[0]}')

Os valores sorteados foram: (1, 3, 4, 9, 6)
O maior valor sorteado foi 9
O menor valor sorteado foi 1

In [8]:
from random import randint

tupla = (randint(1, 10), randint(1, 10), randint(1, 10), randint(1, 10), randint(1, 10))
print(f'Os valores sorteados foram: ',end = '')
for n in tupla:
    print(f'{n} ', end='')
print(f'\nO maior valor sorteado foi {max(tupla)}')
print(f'O menor valor sorteado foi {min(tupla)}')

Os valores sorteados foram: 5 3 7 8 3
O maior valor sorteado foi 8
O menor valor sorteado foi 3

## Desafio 75: Desenvolva um programa que leia quatro valores pelo teclado e guarde-os em uma tupla. No final, mostre:

A) Quantas vezes apareceu o valor 9.
B) Em que posição foi digitado o primeiro valor 3.
C) Quais foram os números pares.

In [9]:
valores = tuple(int(input('Digite um valor: ')) for i in range(1, 5))
print(f'O numero nove aparece {valores.count(9)} vezes')
print(f'Valor 3 foi digitado pela primeira vez na {valores.index(3)+1}º posição' if 3 in valores else 'Não foi digitado valor 3')
print('Valores pares digitados foram', end=' ')
print({n for n in valores if n % 2 == 0}, end=' ')

Digite um valor:  4
Digite um valor:  5
Digite um valor:  8
Digite um valor:  5

O numero nove aparece 0 vezes
Não foi digitado valor 3
Valores pares digitados foram {8, 4}

In [ ]:
valores = tuple(int(input('Digite um valor: ')) for i in range(1, 5))
print(f'O numero nove aparece {valores.count(9)} vezes') 
if 3 in valores:
    print(f'Valor 3 foi digitado pela primeira vez na {valores.index(3)+1}º posição') 
else:
    print('Não foi digitado valor 3')
print('Valores pares digitados foram', end=' ')
for n in valores:
    if n % 2 ==0:
        print(n, end= ' ')

Digite um valor:  3
Digite um valor:  6
Digite um valor:  8
Digite um valor:  5

O numero nove aparece 0 vezes
Valor 3 foi digitado pela primeira vez na 1º posição
Valores pares digitados foram 6 8

## Desafio 76: Crie um programa que tenha uma tupla única com nomes de produtos e seus respectivos preços, na sequência. No final, mostre uma listagem de preços, organizando os dados em forma tabular.

In [11]:
produtos = ("Lápis", 1.75, "Borracha", 2.00, "Caderno", 15.90, "Estojo", 25.00, "Transferidor", 4.20,
            "Compasso", 9.99, "Mochila", 120.32, "Canetas", 22.30, "Livro", 34.90)

print("="*50)
print("{:^50}".format("LISTAGEM DE PREÇOS"))
print("="*50)

for c in range(0, len(produtos), 2):
    print(f"{produtos[c]:.<40}", f" R$ {produtos[c+1]:>7.2f}")

print("="*50)

==================================================
                LISTAGEM DE PREÇOS
==================================================
Lápis...................................  R$    1.75
Borracha................................  R$    2.00
Caderno.................................  R$   15.90
Estojo..................................  R$   25.00
Transferidor............................  R$    4.20
Compasso................................  R$    9.99
Mochila.................................  R$  120.32
Canetas.................................  R$   22.30
Livro...................................  R$   34.90
==================================================

## Desafio 77: Crie um programa que tenha uma tupla com várias palavras (não usar acentos). Depois disso, você deve mostrar, para cada palavra, quais são as suas vogais.

In [12]:
tupla = (
    "Galadriel", "Luthien Tinuviel", "Erik Killmonger", 
    "Kendrick Lamar", "Charlotte Galves", "Roberta Pires", "Amanda"
    )

vogais = ["a", "e", "i", "o", "u"]

for nome in tupla:
    nome = str(nome).lower()
    lista = []

    for letra in nome:
        for i in vogais:
            if letra == i:
                lista.append(letra)

    print(f"{nome.capitalize()}: {lista} - {len(lista)} vogais")
    del(lista)

Galadriel: ['a', 'a', 'i', 'e'] - 4 vogais
Luthien tinuviel: ['u', 'i', 'e', 'i', 'u', 'i', 'e'] - 7 vogais
Erik killmonger: ['e', 'i', 'i', 'o', 'e'] - 5 vogais
Kendrick lamar: ['e', 'i', 'a', 'a'] - 4 vogais
Charlotte galves: ['a', 'o', 'e', 'a', 'e'] - 5 vogais
Roberta pires: ['o', 'e', 'a', 'i', 'e'] - 5 vogais
Amanda: ['a', 'a', 'a'] - 3 vogais

In [13]:
palavras = (
    "Galadriel", "Luthien Tinuviel", "Erik Killmonger", 
    "Kendrick Lamar", "Charlotte Galves", "Roberta Pires", "Amanda"
    )

for p in palavras:
    print(f'\nNa palavra {p.upper()} temos ', end='')
    for letra in p:
        if letra.lower() in 'aeiou':
            print(letra, end= ' ')

Na palavra GALADRIEL temos a a i e
Na palavra LUTHIEN TINUVIEL temos u i e i u i e
Na palavra ERIK KILLMONGER temos E i i o e
Na palavra KENDRICK LAMAR temos e i a a
Na palavra CHARLOTTE GALVES temos a o e a e
Na palavra ROBERTA PIRES temos o e a i e
Na palavra AMANDA temos A a a